[submodule "chef/chef-cookbooks"]
	path = chef/chef-cookbooks
	url = git@github.com:hupahupa/chef-cookbook.git
[submodule "chef/chef-repo"]
	path = chef/chef-repo
	url = git@github.com:hupahupa/chef-repo.git
